{% extends 'classroom/base.html' %}
{% load static %}
{% block content %}
<div class="login-page">
  <img src="{% static 'images/book.webp' %}" alt="">
  <div class="student-signup-form">
    <h1>Teacher Sign Up</h1>
    <form action="{% url 'classroom:TeacherSignUp' %}" method="post">
      {% csrf_token %}
      <p>Username:</p>
      <input type="text" name="username" placeholder="Enter your username">
      <p>Password:</p>
      <input type="password" name="password" placeholder="Enter password">
      <input class="btn btn-primary" type="submit" value="Sign Up">
    </form>
    <a href="{% url 'classroom:login' %}">Already have an account?</a>
  </div>
</div>
{% endblock %}